.titulo-sidebar{
    color: white;
    position: absolute;
    top: 30px;
    left: 100px;
    margin-top: 20px;
    font-size: 20px;
}

.d-flex{
    background-color: black;
}
.text-navbar{
    text-align: center;
}
.nav{
    margin-top: 50px;
    gap: 10px;
}
